name: 'Code formatting'

on:
  pull_request:
  workflow_dispatch:

env:
  DOTNET_VERSION: 7
  DOTNET_INSTALL_DIR: '~/.dotnet'

jobs:
  spacing-check:
    name: Check white spaces
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - name: Cache dotnet
      id: cache-dotnet
      uses: actions/cache@v3
      with:
          path: ${{ DOTNET_INSTALL_DIR}}
          key: ${{ runner.os }}-dotnet-${{ env.DOTNET_VERSION }}
          restore-keys: ${{ runner.os }}-dotnet-${{ env.DOTNET_VERSION }}
    - name: Set up .NET
      if: ${{ steps.cache-dotnet.outputs.cache-hit != 'true' }}
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
    - uses: actions/checkout@v3
      with:
        submodules: true
    - name: Format
      run: |
        dotnet format whitespace src/ --folder --verify-no-changes
